# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# nSelf Project Configuration
# Copy to .env and fill in your secrets.
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

PROJECT_NAME=ntv
BASE_DOMAIN=ntv.local
ENV=dev

POSTGRES_PASSWORD=CHANGE_ME
HASURA_GRAPHQL_ADMIN_SECRET=CHANGE_ME
HASURA_JWT_KEY=CHANGE_ME
